torch
torchvision
transformers==4.57.0
deepspeed
trl
peft
accelerate
safetensors
huggingface_hub>=0.34,<1.0
datasets
omegaconf
pyyaml
numpy
pandas
pillow
matplotlib
tqdm
fire
prettytable
requests
packaging
